<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jeux</title>
    <!--  lien css  -->
    <link rel="stylesheet" href="/bootstrap.css">
    <!--  script javascript  -->
    <script src="bootstrap.js" defer></script>
    <script src="timer.js" defer></script>
</head>
<body class="bg-dark my-2 h-100 text-white">
<div class="container-fluid">
    <!-- Header de la page -->
    <div class="row mb-4">
        <div class="titre text-center">
            <h1 class="fs-1">MEMORY GAME</h1>
        </div>
        <div class="sous-titre text-center">
            <h3 class="fs-3">Message</h3>
        </div>
    </div>
    <div class="row">
        <!-- Classement sur la sidebar -->
        <div class="col sidebar-gauche" id="best-score-bar">
            <div class="container my-2">
                <div class="row">
                    <div class="sous-titre text-center text-decoration-underline">
                        <h4>Scores :</h4>
                    </div>
                </div>
                <div class="row my-1">
                    1.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    2.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    3.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    4.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    5.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    6.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    7.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    8.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    9.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    10.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col ">
                        ...
                    </div>
                </div>
                <div class="row my-1">
                    312.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    313.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1 fw-bold">
                    314.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    315.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    316.
                    <div class="col">
                        Paul
                    </div>
                    <div class="col">
                        2:30.785
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col ">
                        ...
                    </div>
                </div>
                <!-- Bouton de la sidebar gauche -->
                <div class="row">
                    <a class="btn btn-info my-3" data-bs-toggle="offcanvas" href="#offcanvasGameRules" role="button"
                       aria-controls="offcanvasGameRules">
                        Règles du jeu
                    </a>
                    <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasGameRules"
                         aria-labelledby="offcanvasGameRulesLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasGameRulesLabel">Règles du jeu</h5>
                            <button type="button" class="btn-close text-reset bg-danger" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div>
                                Toutes les cartes sont étalées faces cachées. Le joueur
                                retourne deux cartes. Si c'est la même image qui apparaît
                                sur les deux cartes le joueur gagne les cartes. Si les
                                deux cartes ne vont pas ensemble, elle se replace face
                                cachée à l'endroit exact où elles étaient. Avec une bonne
                                mémoire le joueur se souviendra de l'emplacement des
                                cartes déjà retournées et pourra les utiliser lorsqu'il en
                                aura besoin pour compléter une paire. Le tout en essayant
                                d'être le plus rapide possible pour rentrer dans le haut
                                du classement.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary" aria-label="Close" onclick="timerManager.init()"
                            id="newGameBtn">
                        Nouvelle partie
                    </button>
                </div>
            </div>
        </div>
        <!-- Gestion de la table de jeu -->
        <div class="col-10 main-content" id="table-jeu">
            <div class="container">
                <div class="row">
                    <div class="container text-center">
                        <div class="row my-2 mx-2">
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                        </div>
                        <div class="row my-2 mx-2">
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                        </div>
                        <div class="row my-2 mx-2">
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                        </div>
                        <div class="row my-2 mx-2">
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                            <div class="col">
                                <img src="https://cdn.glitch.com/1c4db84b-cadc-488a-a662-9fa5793f1cef%2Fsquare.png?v=1618252763708"
                                     alt="img_square" sizes="150x130">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center my-4">
                    <!-- Timer -->
                    <div class="" id="timer">
                        <h2>
                            <span id="timer_min">--</span> :
                            <span id="timer_sec">--</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>