<!DOCTYPE html>
<html lang=fr>

<head>
    <title>MEMORY GAME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/jeu.css">

    <script src="/bootstrap.js" defer></script>
</head>

<body>

<br/>
<br/>

<header>
    <div class="container">
        <h1><u>MEMORY GAME</u></h1>
        <br/>
        <h2>Faites-vos preuves !!!</h2>
    </div>
</header>



<section>
    <article>
        <div id='message'>Une autre chance ?? Réessayez !!!</div> <!-- message en cas de mauvais choix-->

        <div id="jeu"></div> <!-- emplacement des cartes-->

        <strong><p>Chronomètre: <span id="timer">00:00</span> <br> <!-- lancement du chronomètre-->
            SCORE <span id="score">0</span></p></strong>  <!-- memorisation du score-->

        <script type="text/javascript" src="/script_A6.js" defer></script> <!-- script principal du jeu-->
    </article>

    <!-- Classement sur la sidebar -->
    <nav>
        <div class="container sidebar-gauche" id="best-score-bar">
            <div class="container my-2">
                <div class="row">
                    <div class="sous-titre text-center text-decoration-underline">
                        <h4>Best Scores</h4>
                    </div>


                    {% for player in best_players %}
                    <div class="row my-1">{{ player.pseudo }} en {{ player.score }} sec</div>
                    {% endfor %}
                </div>


                <div class="row">
                    <a class="btn btn-danger my-3" data-bs-toggle="offcanvas" href="#offcanvasGameRules" role="button"
                       aria-controls="offcanvasGameRules">
                        Règles du jeu
                    </a>
                    <div class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1" id="offcanvasGameRules"
                         aria-labelledby="offcanvasGameRulesLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasGameRulesLabel">Règles du jeu</h5>
                            <button type="button" class="btn-close text-reset bg-danger" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div>
                                Toutes les cartes sont étalées faces cachées. Le joueur
                                retourne deux cartes. Si c'est la même image qui apparaît
                                sur les deux cartes le joueur gagne les cartes. Si les
                                deux cartes ne vont pas ensemble, elle se replace face
                                cachée à l'endroit exact où elles étaient. Avec une bonne
                                mémoire le joueur se souviendra de l'emplacement des
                                cartes déjà retournées et pourra les utiliser lorsqu'il en
                                aura besoin pour compléter une paire. Le tout en essayant
                                d'être le plus rapide possible pour rentrer dans le haut
                                du classement.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </nav>

</section>



</body>

</html>