<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jeux de Carte</title>
    <link rel="stylesheet" href="/selection.css" />
    <script src="/script.js" defer></script>
</head>
<body class="white-text">

<header>
    <img class="logo" src="/logo_large.png" alt="" srcset="" width="10%">
    <h1><u>MEMORY-B4</u></h1>
    <h2>Vous y etes presque !!!</h2>
</header>

<form>

    <p class="theme">MENU PRINCIPAL</p>
    <a href="/jeu_V6"> <input type="button" value="VOITURES SPORT (6 cartes)" /> </a> <br />
    <a href="/jeu_V9"> <input type="button" value="VOITURES GENERALES (9 cartes)" /> </a> <br />
    <a href="/jeu_A6"> <input type="button" value="ANIMAUX KIDS (6 cartes)" /> </a> <br />
    <a href="/jeu_A9"> <input type="button" value="ANIMAUX ADULTES (9 cartes)" /> </a>

</form>

<a href="https://www.google.com/">
    <button class="Bgauche">QUITTER</button>
</a>

</body>
</html>
