body /* Fond d'ecran */
{
    background-color: orange;
}

@font-face { /* Définition d'une nouvelle police nommée policeperso */
    font-family: 'policeperso';
    src: url('policeperso.ttf');
}
header{
    font-family: 'policeperso';
    text-align: center;
    font-size: 2em;
    background-color: orangered;
}
h2{
    margin-top: -1em;
    font-size: 1em;
    color: white;
}

.theme{
    text-align: center;
    font-size: 3em;
    color: green;
    font-family: 'policeperso';
}

.nombrej{
    text-align: center;
    font-size: 2em;
}
.nombrec{
    text-align: center;
    font-size: 2em;
}

input[type="submit"],
input[type="button"] {
    font-size: 2em;
    font-weight: bold;
    background-color: darkorange;
    color: white;
    padding: 14px 20px;
    margin: 8px 25%;
    border: none;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    box-shadow: 1px 1px 3px #333333;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: orangered;
    color: #53af57;
}

input[type="button"].logout {
    margin: 5% 40%;
    width: 20%;
}

.logo {
    position:fixed;
    top:10%;
    left:3%;
    background-color: orangered;
}